<div class="modal-header">
  <h4 class="modal-title">{{ payment.payment_supplier }}</h4>
</div>
<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>Value: </dt>
    <dd>{{ payment.payment_amount | currency:'GBP':true:'2.0-0' }}</dd>
    <dt>Pound rating: </dt>
    <dd>{{ payment.payment_cost_rating }}</dd>
    <dt>Reference: </dt>
    <dd>{{ payment.payment_ref }}</dd>
  </dl>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-close" (click)="activeModal.close()">Close</button>
</div>