@import '../../../assets/styles/variables';

.container {
    background: rgba(black,0.05);
    padding: 7px;
    margin: 60px auto;
    border-radius: 3px;
}

.payments-list {
    background: $white;
    padding: 20px;
    font-family: "Source Sans Pro";
    border-radius: 3px;
    .payments-list__title {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-default;
        h1 {
            font-size: 60px;
            font-weight: lighter;
            color: #2288b7;

            @media(max-width: $screen-xs) {
                font-size: 24px;
            }

            @media(max-width: $screen-sm) {
                font-size: 32px;
            }
        }
        p {
            font-size: 17px;
            color: $text-dark;

            @media(max-width: $screen-sm) {
                font-size: 12px;
            }
        }
    }

    .payments-list__filter {
        .form-group {
            padding: 0 5px;

            @media(min-width: $screen-md-min) {
                margin-bottom: 0;
            };
            &:last-child {
                margin-bottom: 0;
            }

            .form-control,
            .form-select,
            .btn {
                height: 30px;
            }

            .form-select {
                background: #eaeced;
                padding: 5px;
                border-radius: 3px;

                select {
                    height: 20px;
                    padding: 2px;
                    font-size: 11px;
                    border: 1px solid #a6a6a6;
                    color: #3a3a3a;
                }
            }
        }
        .btn {
            &.btn-reset,
            &.btn-search {
                background-repeat: repeat-x;

                &.btn-reset {
                    background-image: url("../../../assets/img/btn-reset-bg.jpg");    
                }

                &.btn-search {
                    background-image: url("../../../assets/img/btn-search-bg.jpg");    
                }
            }

            &:hover, 
            &:focus {
                outline: none;
            }
        }
    }

    .payments-list__table {
        border-radius: 3px;
        border: 1px solid $border-default;
    }
    .row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: unset;
        }
    }
}