<div class="container">
  <div class="payments-list">
    <div class="row">
      <div class="col-xs-12">
        <div class="payments-list__title text-center">
          <h1>Where your money goes</h1>
          <p>Payments made by Chichester District Council to individual payments with a value over £500 made within October.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="payments-list__filter">
          <form (submit)="search(filter.query, filter.rating)">
            <div class="form-group col-md-5">
              <input [(ngModel)]="filter.query" name="query" type="text" class="form-control" placeholder="Search suppliers">
            </div>
            <div class="form-group col-md-3">
              <div class="form-select">
                <select class="form-control" [(ngModel)]="filter.rating" name="rating">
                  <option *ngFor="let r of ratings" [ngValue]="r" [disabled]="r === 0" [selected]="r == 0">
                    <span *ngIf="r === 0; else elseZero">Select pound rating</span>
                    <ng-template #elseZero>
                      {{ r }}
                    </ng-template>
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-2 col-sm-6">
              <button type="button" (click)="reset()" class="btn btn-default btn-full btn-reset">Reset</button>
            </div>
            <div class="form-group col-md-2 col-sm-6">
              <button type="submit" class="btn btn-primary btn-full btn-search">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isPayments(payments); else noResult">
      <div class="col-xs-12">
        <div class="payments-list__table table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th class="th-supplier">Supplier</th>
                <th class="th-pound-rating">Pound rating</th>
                <th class="th-ref">Reference</th>
                <th class="th-value">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pay of payments" (click)="openPaymentDetails(pay)">
                <td>{{ pay.payment_supplier }}</td>
                <td>
                  <ul class="list-inline">
                    <li *ngFor="let r of ratings | slice:1" class="list-inline-item">
                      <span class="pound-rating" [ngClass]="{'pound-rating-active': pay.payment_cost_rating >= r}">&#163;</span>
                    </li>
                  </ul>
                </td>
                <td>{{ pay.payment_ref }}</td>
                <td>{{ pay.payment_amount | currency:'GBP':true:'2.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-template #noResult>
      <div class="alert alert-danger">No result</div>  
    </ng-template>

    <div class="row" *ngIf="isPagination(pagination, peerPage)">
      <div class="col-xs-12">
        <div class="payments-list__pagination text-center">
          <ngb-pagination [collectionSize]="totalItems(pagination?.total)" [page]="pagination?.current" [pageSize]="peerPage" [maxSize]="4"
            [ellipses]="false" (pageChange)="loadPaymentsWithParams($event, filter.query, filter.rating)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>