@import 'variables';

body {
    background: url("./assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    &.modal-open {
        overflow: auto;
    }
}

.btn {
    border: none;
    height: 30px;
    
    &.btn-full {
        width: 100%;
    }
}

.pagination {
    .page-item {
        &:first-child {
            a:before {
                content: "\2039";
            }
        }
        &:last-child {
            a:before {
                content: "\203A";
            }
        }

        a {
            background-image: url("./assets/img/btn-pagination.jpg");
            background-repeat: repeat-x;
            width: 25px;
            height: 25px;
            padding: 2px 4px;
            margin-right: 5px;
            border-radius: 4px;
            border: 1px solid #bebebe !important;
            color: $text-dark;
            position: relative;

            &:hover {
                color: rgba($text-dark, 0.8);
            }

            &:focus, &:active {
                border-color: #bebebe;
                outline: none;
            }

            span {
                display: none;
            }
        }

        &.active {
            a {
                background-image: url("./assets/img/btn-pagination-active.jpg");
                color: #F2F2F2;
            }
        }
    }
}