@import 'variables';

table.table {
    margin-bottom: 0;
    thead {
        th {
            padding: 0 30px;
            background: #ebeced;
            border-bottom: 1px solid $border-default;
            vertical-align: middle;
            height: 60px;

            &.th-pound-rating {
                min-width: 180px;
            }

            @media(min-width: $screen-lg) {
                &.th-supplier {
                    min-width: 550px;
                }
                &.th-ref,
                &.th-value {
                    min-width: 100px;
                }
            }

            @media(max-width: $screen-sm) {
                padding: 10px 18px;
                font-size: 12px;
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            &:nth-child(odd) {
                td {
                    background: $tr-odd;
                }
            }
            &:nth-child(even) {
                td {
                    background: $tr-even;
                }
            }
        }
        td {
            padding: 0 10px;
            border-left: 1px solid $border-default;
            vertical-align: middle;
            height: 50px;
            text-align: center;
            max-width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
            @media(max-width: $screen-sm) {
                padding: 10px 18px;
                font-size: 12px;
            }

            &:first-child {
                border-left: none;
                padding-left: 30px;
                padding-right: 30px;
                text-align: left;
            }
            ul {
                margin: 0;
                li {
                    padding: 0 5px 0 0;
                    .pound-rating {
                        width: 25px;
                        height: 25px;
                        background: url('./assets/img/pound-bg.jpg');
                        display: inline-block;
                        border-radius: 50%;
                        border: 1px solid #999;
                        text-align: center;
                        font-weight: 700;
                        font-size: 15px;
                        color: $text-dark;

                        &.pound-rating-active {
                            background-image: url('./assets/img/pound-bg-active.jpg');
                            background-repeat: repeat-x;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}