@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';

$background: #EDEDED;
$white: #FFF;
$border-default: #CFCFCF;
$text-dark: #666666;
$tr-even: #f7f7f7;
$tr-odd: #FFFFFF;